body{
	margin: 0;
	font-family: Nexa;
    font-weight: bold;
    color: #ffffff;
}
img{
	width: 100%;
	z-index: 0;
}

h1{
	font-size: 25px;
}

.container{
	max-width: 100%;
	height: 920px;
	background-color: #1b1b1b;
}

.header{
	max-width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	height: 110px;
	background-color: #fe6103;
}

.logo{
	width: 10%;
	float: left;
	margin-top: 20px;
}

.menu{
	width: 19.5%;
	float: right;
	margin-top: 75px;
	/*background-color: green;*/
}

li.menu{
	margin-left: 5%;
	display: inline;
	float: none;
	font-size: 20px;
}

.mid{
	max-width: 100%;
	position: relative;
}

.bot{
	z-index: 1;
	width: 90%;
	margin-top: -70px;
	margin-left: 5%;
	margin-right: 5%;
	position: absolute;
}

.opt{
	width: 29.3333333%;
	height: 200px;
	float: left;
	background-color: #fe6103;
	float: left;
	padding: 1%;
}

.esp{
	width: 3%;
	float: left;
	background-color: green;
}

.footer{
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 185px;
	padding-top: 30px;
	max-width: 90%;
	height: 50px;
	background-color: #fe6103;
}